@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap');

.wrapper {
  width: 100%;
  height: 423px;
  margin: 0px auto;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  font-family: 'Red Hat Mono', monospace;
}
.wrapper ul {
  list-style: none;
  margin-top: 90px;
}

.total {
  padding: 28px 50px;
  font-size: 30px;
  color: #942332;
  font-weight: 600;
  text-align: center;
  margin-top: 100px;
  border-top: 1px solid gray;
}

.emptyShoppingCart {
  padding: 28px 50px;
  font-size: 30px;
  color: #942332;
  font-weight: 600;
  text-align: center;
  margin-top: 90px;
}
.orderHistory {
  position: fixed;
  margin-top: 80px;
  right: 25px;
  text-decoration: none;
  color: black;
  font-weight: 800;
}
.confirmBtn {
  background-color: #fff;
  border: none;
  font-weight: 800;
  cursor: pointer;
}
.confirmBtn:hover {
  color: red;
}
.confirmBtn:disabled:hover {
  color: rgb(223, 84, 84);
}
